{% extends "basic.html" %}
{% load static %}
{% block content %}
<main class="personal">
    <div class="menu_person">
        <img src="{% static 'img/user.png'%}" alt="profile" class="profile_img">
        <div class="profile_name">{{request.user.first_name}} {{request.user.last_name}}</div>
        <nav>
            <a href="{% url 'main:mydocs'%}">Мои документы</a>
            <a href="{% url 'main:publicdocs'%}">Общие документы</a>
            <a href="{% url 'main:search'%}">Поиск документа</a>
            {%if request.user.is_staff%}
            <a href="{% url 'main:registration'%}">Новый сотрудник</a>
            {%endif%}
            <a href="{% url 'main:profile'%}">Личные данные</a>
            <a href="{% url 'main:changepass' pk=user.pk%}">Смена пароля</a>
            <a href="{% url 'main:logout'%}">Выход</a>
        </nav>
    </div>
    <section class="person_center">
        <h3 class="person_title">Изменение документа</h3>
        <form method="POST" class="person_form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="{{request.user}}" name="owner" required>
            <label class="label_form">
                <span>Название</span>
                <input type="text" placeholder="Name" class="person_input" name="name" value="{{form.name.value}}">
            </label>
            <label class="label_form">
                <span>Комментарий</span>
                <textarea name="comments" placeholder="Comment">{{form.comments.value}}</textarea>
            </label>
            <!-- <label class="label_form">
                <span>Документ</span>
                <div class="file_wrapper">
                    <div class="inputFile">
                        <div>Выберете файл</div>
                        <input type="file" placeholder="Прикрепить файл" requered name="docs" id="id_docs">
                    </div>
                    <p class="errors_file">Фаил не выбран</p>
                </div>
            </label> -->
            <label class="label_form">
                <span>Сделать общедоступным</span>
                <div class="checkbox-wrapper">
                    <label>
                        <input type="checkbox" name="status" class="modern-radio" {%if form.status.value %} checked
                            {%endif%}>
                        <span></span>
                    </label>
                </div>
            </label>
            <input type="submit" value="Изменить" class="change_form_submit">
        </form>
    </section>
</main>
{% endblock %}
