{% extends "basic.html" %}
{% load static %}
{% block content %}
<main class="personal">
        <div class="menu_person">
            <img src="{% static 'img/user.png'%}" alt="profile" class="profile_img">
        <div class="profile_name">{{request.user.first_name}} {{request.user.last_name}}</div>
            <nav>
                <a href="{% url 'main:mydocs'%}">Мои документы</a>
                <a href="{% url 'main:publicdocs'%}">Общие документы</a>
            <a href="{% url 'main:search'%}">Поиск документа</a>
            {%if request.user.is_staff%}
            <a href="{% url 'main:registration'%}">Новый сотрудник</a>
            {%endif%}
                <a href="{% url 'main:profile'%}" class="menu--active">Личные данные</a>
                <a href="{% url 'main:changepass' pk=user.pk%}">Смена пароля</a>
                <a href="{% url 'main:logout'%}">Выход</a>
            </nav>
        </div>
        <section class="person_center">
            <h3 class="person_title">Изменение личных данных</h3>
            <form method="POST" class="person_form">
                       {% csrf_token %}
                <label class="label_form">
                    <span>Логин</span>
                    <input type="text" placeholder="Login" class="person_input" name="username"
                           value="{{form.username.value}}">
                </label>
                <label class="label_form">
                    <span>Фамилия</span>
                    <input type="text" placeholder="Иванов" class="person_input" name="last_name"
                           value="{{form.last_name.value}}">
                </label>
                <label class="label_form">
                    <span>Имя</span>
                    <input type="text" placeholder="Иван" class="person_input" name="first_name"
                           value="{{form.first_name.value}}">
                </label>
                <label class="label_form">
                    <span>Отчество</span>
                    <input type="text" placeholder="Иванович" class="person_input" name="midl_name"
                           value="{{form.midl_name.value}}">
                </label>
                <label class="label_form">
                    <span>Эл. почта (Email)</span>
                    <input type="email" placeholder="Email@admin.ru" class="person_input" name="email"
                           value="{{form.email.value}}">
                </label>
                <label class="label_form">
                    <span>Телефон</span>
                    <input type="text" placeholder="Телефон" class="person_input phone_mask" name="phone"
                           value="{{form.phone.value}}">
                </label>
                <label class="label_form">
                    <span>Дата рождения</span>
                    <input type="date" class="person_input" name="dateBorn" value="{{form.dateBorn.value}}">
                </label>
                <input type="submit" value="Редактировать" class="change_form_submit">
            </form>
        </section>
    </main>
{% endblock %}