{% extends "basic.html" %}
{% load static %}
{% block content %}
<main class="personal">
    <div class="menu_person">
        <img src="{% static 'img/user.png'%}" alt="profile" class="profile_img">
        <div class="profile_name">Evan Gunter</div>
        <nav>
            <a href="{% url 'main:profile'%}">Личные данные</a>
            <a href="#">Мои подписки</a>
            <a href="{% url 'main:changepass' pk=user.pk%}" class="menu--active">Смена пароля</a>
            <a href="#">Обязательства</a>
            <a href="{% url 'main:logout'%}">Выход</a>
        </nav>
    </div>
    <section class="person_center">
        <h3 class="person_title">Смена пароля</h3>
        <form method="POST" class="person_form">
                   {% csrf_token %}
            <label class="label_form">
                <span>Новый пароль</span>
                <input type="password" placeholder="Password" class="person_input" name="password">
            </label>
            <label class="label_form">
                <span>Повторите новый пароль</span>
                <input type="password" placeholder="Password" class="person_input" name="password2">
            </label>
            <input type="submit" value="Сохранить пароль" class="change_form_submit">
        </form>
    </section>
</main>
{% endblock %}