{% extends "basic.html" %}
{% load static %}
{% block content %}
<main class="personal">
    <div class="menu_person">
        <img src="{% static 'img/user.png'%}" alt="profile" class="profile_img">
        <div class="profile_name">{{request.user.first_name}} {{request.user.last_name}}</div>
        <nav>
            <a href="{% url 'main:mydocs'%}" class="menu--active">Мои документы</a>
            <a href="{% url 'main:publicdocs'%}">Общие документы</a>
            <a href="{% url 'main:search'%}">Поиск документа</a>
            {%if request.user.is_staff%}
            <a href="{% url 'main:registration'%}">Новый сотрудник</a>
            {%endif%}
            <a href="{% url 'main:profile'%}">Личные данные</a>
            <a href="{% url 'main:changepass' pk=user.pk%}">Смена пароля</a>
            <a href="{% url 'main:logout'%}">Выход</a>
        </nav>
    </div>
    <section class="person_center">
        <h3 class="person_title">Мои документы</h3>
        <div class="filter_wrapper">
            <a href="{% url 'main:docsadd' %}" class="button_add_docs">Добавить документ</a>
            <div class="filter">
                {% if request.GET.filter == 'name'%}
                <a href="{% url 'main:mydocs'%}?filter=name" class="filter--active">По имени</a>
                {%else%}
                <a href="{% url 'main:mydocs'%}?filter=name">По имени</a>
                {%endif%}

                {% if request.GET.filter%}
                <a href="{% url 'main:mydocs'%}">Сначала новые</a>
                {%else%}
                <a href="{% url 'main:mydocs' %}" class="filter--active">Сначала новые</a>
                {%endif%}

                {% if request.GET.filter == 'old'%}
                <a href="{% url 'main:mydocs'%}?filter=old" class="filter--active">Сначала старые</a>
                {%else%}
                <a href="{% url 'main:mydocs'%}?filter=old">Сначала старые</a>
                {%endif%}
            </div>
        </div>
        {% if info %}
        <table>
            <thead>
                <tr class="row">
                    <th class="cell">Название</th>
                    <th class="cell">Дата добавления</th>
                    <th class="cell cell_mydocs">Комментарий</th>
                    <!-- <th class="cell">Расширение</th> -->
                    <th class="cell">Опции</th>
                </tr>
            </thead>
            <tbody>
                {% for inf in info %}
                <tr class="row">
                    <td class="cell">{{inf.name}}</td>
                    <td class="cell">{{inf.date}}</td>
                    <td class="cell cell_mydocs">
                        <div class="comments">{{inf.comments}}</div>
                    </td>
                    <!-- <td class="cell">{{inf.extension}}</td> -->
                    <td class="cell">
                        <a href="/media/{{inf.docs}}" target="_blank">
                            <div class="icons_download" title="Скачать"></div>
                        </a>
                        <a href="{% url 'main:docsedit' pk=inf.pk%}">
                            <div class="icons_edit" title="Редактировать"></div>
                        </a>
                        <a href="{% url 'main:docsdel' pk=inf.pk%}">
                            <div class="icons_delete" title="Удалить"></div>
                        </a>
                        <a href="{% url 'main:email'%}?docs={{inf.pk}}">
                            <div class="icons_mail" title="Отправить по почте"></div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if info.paginator.num_pages > 1%}
        <div class="pagination">
            <span class="step_links">
                {% if info.has_previous %}
                {% if info.previous_page_number > 1 %}
                <a href="?page=1" title="В начало">«</a>
                {% endif %}
                <a href="?page={{ info.previous_page_number }}">{{ info.previous_page_number }}</a>
                {% endif %}

                <a href="?page={{ info.number }}" class="current">
                    {{ info.number }}
                </a>
                {% if info.has_next %}
                <a href="?page={{ info.next_page_number }}">{{ info.next_page_number }}</a>
                {% if info.paginator.num_pages > info.next_page_number%}
                <a href="?page={{ info.paginator.num_pages }}" title="В конец">»</a>
                {% endif %}
                {% endif %}
            </span>
        </div>
        {% endif %}
        {% else %}
        <p class="text_empty">Пока что тут пусто</p>
        {%endif%}
    </section>
</main>
{% endblock %}