{% extends "basic.html" %}
{% load static %}
{% block content %}
<main class="personal">
    <div class="menu_person">
        <img src="{% static 'img/user.png'%}" alt="profile" class="profile_img">
        <div class="profile_name">{{request.user.first_name}} {{request.user.last_name}}</div>
        <nav>
            <a href="{% url 'main:mydocs'%}">Мои документы</a>
            <a href="{% url 'main:publicdocs'%}" class="menu--active">Общие документы</a>
            <a href="{% url 'main:search'%}">Поиск документа</a>
            {%if request.user.is_staff%}
            <a href="{% url 'main:registration'%}">Новый сотрудник</a>
            {%endif%}
            <a href="{% url 'main:profile'%}">Личные данные</a>
            <a href="{% url 'main:changepass' pk=user.pk%}">Смена пароля</a>
            <a href="{% url 'main:logout'%}">Выход</a>
        </nav>
    </div>
    <section class="person_center">
        <h3 class="person_title">Мои документы</h3>
        <div class="filter_wrapper">
            <div class="empty"></div>
            <div class="filter">
                {% if request.GET.filter == 'name'%}
                <a href="{% url 'main:publicdocs'%}?filter=name" class="filter--active">По имени</a>
                {%else%}
                <a href="{% url 'main:publicdocs'%}?filter=name">По имени</a>
                {%endif%}

                {% if request.GET.filter%}
                <a href="{% url 'main:publicdocs'%}">Сначала новые</a>
                {%else%}
                <a href="{% url 'main:publicdocs'%}" class="filter--active">Сначала новые</a>
                {%endif%}

                {% if request.GET.filter == 'old'%}
                <a href="{% url 'main:publicdocs'%}?filter=old" class="filter--active">Сначала старые</a>
                {%else%}
                <a href="{% url 'main:publicdocs'%}?filter=old">Сначала старые</a>
                {%endif%}
            </div>
        </div>
        {% if info %}
        <table>
            <thead>
                <tr class="row">
                    <th class="cell">Название</th>
                    <th class="cell">Дата добавления</th>
                    <th class="cell">Владелец</th>
                    <th class="cell">Комментарий</th>
                    <th class="cell">Расширение</th>
                    <th class="cell">Скачать</th>
                </tr>
            </thead>
            <tbody>
                {% for inf in info %}
                <tr class="row">
                    <td class="cell">{{inf.name}}</td>
                    <td class="cell">{{inf.date}}</td>
                    <td class="cell">
                        <a href="{%url 'main:userprofile' pk=inf.owner.pk%}" class="cell_userA">{{inf.owner}}</a>
                    </td>
                    <td class="cell">
                        <div class="comments">{{inf.comments}}</div>
                    </td>
                    <td class="cell">{{inf.extension}}</td>
                    <td class="cell">
                        <a href="/media/{{inf.docs}}" target="_blank">
                            <div class="icons_download"></div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text_empty">Пока что тут пусто</p>
        {%endif%}
    </section>
</main>
{% endblock %}