{% extends "basic.html" %}
{% load static %}
{% block content %}
<main class="personal">
    <div class="menu_person">
        <img src="{% static 'img/user.png'%}" alt="profile" class="profile_img">
        <div class="profile_name">{{request.user.first_name}} {{request.user.last_name}}</div>
        <nav>
            <a href="{% url 'main:mydocs'%}">Мои документы</a>
            <a href="{% url 'main:publicdocs'%}">Общие документы</a>
            <a href="{% url 'main:search'%}" class="menu--active">Поиск документа</a>
            {%if request.user.is_staff%}
            <a href="{% url 'main:registration'%}">Новый сотрудник</a>
            {%endif%}
            <a href="{% url 'main:profile'%}">Личные данные</a>
            <a href="{% url 'main:changepass' pk=user.pk%}">Смена пароля</a>
            <a href="{% url 'main:logout'%}">Выход</a>
        </nav>
    </div>
    <section class="person_center">
        <h3 class="person_title">Поиск</h3>
        <form method="POST" class="search_form">
            {% csrf_token %}
            <input type="text" name="key" placeholder="Введите запрос" class="search_key" {% if key %} value="{{key}}"
                {% endif %}>
            <input type="submit" value="Найти" class="search_butt">
        </form>
        {% if info %}
        <table>
            <thead>
                <tr class="row">
                    <th class="cell">Название</th>
                    <th class="cell">Дата добавления</th>
                    <th class="cell">Владелец</th>
                    <th class="cell">Комментарий</th>
                    <!-- <th class="cell">Расширение</th> -->
                    <th class="cell">Опции</th>
                </tr>
            </thead>
            <tbody>
                {% for inf in info %}
                <tr class="row">
                    <td class="cell">{{inf.name}}</td>
                    <td class="cell">{{inf.date}}</td>
                    <td class="cell">
                        <a href="{%url 'main:userprofile' pk=inf.owner.pk%}" target="_blank"
                            class="cell_userA">{{inf.owner.last_name}} {{inf.owner.first_name}}
                            {{inf.owner.midl_name}}</a>
                    </td>
                    <td class="cell">
                        <div class="comments">{{inf.comments}}</div>
                    </td>
                    <!-- <td class="cell">{{inf.extension}}</td> -->
                    <td class="cell">
                        {%if inf.owner == request.user or request.user.is_staff%}
                        <a href="/media/{{inf.docs}}" target="_blank">
                            <div class="icons_download" title="Скачать"></div>
                        </a>
                        <a href="{% url 'main:docsedit' pk=inf.pk%}">
                            <div class="icons_edit" title="Редактировать"></div>
                        </a>
                        <a href="{% url 'main:docsdel' pk=inf.pk%}">
                            <div class="icons_delete" title="Удалить"></div>
                        </a>
                        <a href="{% url 'main:email'%}?docs={{inf.pk}}">
                            <div class="icons_mail" title="Отправить по почте"></div>
                        </a>
                        {%else%}
                        <a href="/media/{{inf.docs}}" target="_blank">
                            <div class="icons_download"></div>
                        </a>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if info.paginator.num_pages > 1%}
        <div class="pagination">
            <span class="step_links">
                {% if info.has_previous %}
                {% if info.previous_page_number > 1 %}
                <a href="?page=1&key={{key}}" title="В начало">«</a>
                {% endif %}
                <a href="?page={{ info.previous_page_number }}&key={{key}}">{{ info.previous_page_number }}</a>
                {% endif %}

                <a href="?page={{ info.number }}&key={{key}}" class="current">
                    {{ info.number }}
                </a>
                {% if info.has_next %}
                <a href="?page={{ info.next_page_number }}&key={{key}}">{{ info.next_page_number }}</a>
                {% if info.paginator.num_pages > info.next_page_number%}
                <a href="?page={{ info.paginator.num_pages }}&key={{key}}" title="В конец">»</a>
                {% endif %}
                {% endif %}
            </span>
        </div>
        {% endif %}
        {% else %}
        <p class="text_empty">{{message}}</p>
        {%endif%}
    </section>
</main>
{% endblock %}