{% extends "basic.html" %}
{% load static %}
{% block content %}
<main class="personal">
    <div class="menu_person">
        <img src="{% static 'img/user.png'%}" alt="profile" class="profile_img">
        <div class="profile_name">{{request.user.first_name}} {{request.user.last_name}}</div>
        <nav>
            <a href="{% url 'main:mydocs'%}">Мои документы</a>
            <a href="{% url 'main:publicdocs'%}">Общие документы</a>
            <a href="{% url 'main:search'%}" class="menu--active">Поиск документа</a>
            {%if request.user.is_staff%}
            <a href="{% url 'main:registration'%}">Новый сотрудник</a>
            {%endif%}
            <a href="{% url 'main:profile'%}">Личные данные</a>
            <a href="{% url 'main:changepass' pk=user.pk%}">Смена пароля</a>
            <a href="{% url 'main:logout'%}">Выход</a>
        </nav>
    </div>
    <section class="person_center">
        <h3 class="person_title">Поиск</h3>
        <form method="POST" class="search_form">
            {% csrf_token %}
            <input type="text" name="key" placeholder="Введите запрос" class="search_key">
            <input type="submit" value="Найти" class="search_butt">
        </form>
        {% if info %}
        <table>
            <thead>
                <tr class="row">
                    <th class="cell">Название</th>
                    <th class="cell">Дата добавления</th>
                    <th class="cell">Владелец</th>
                    <th class="cell">Комментарий</th>
                    <th class="cell">Расширение</th>
                    <th class="cell">Скачать</th>
                </tr>
            </thead>
            <tbody>
                {% for inf in info %}
                <tr class="row">
                    <td class="cell">{{inf.name}}</td>
                    <td class="cell">{{inf.date}}</td>
                    <td class="cell">
                        <a href="{%url 'main:userprofile' pk=inf.owner.pk%}" class="cell_userA">{{inf.owner}}</a>
                    </td>
                    <td class="cell">
                        <div class="comments">{{inf.comments}}</div>
                    </td>
                    <td class="cell">{{inf.extension}}</td>
                    <td class="cell">
                        <a href="/media/{{inf.docs}}" target="_blank">
                            <div class="icons_download"></div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text_empty">{{message}}</p>
        {%endif%}
    </section>
</main>
{% endblock %}