{% extends "basic.html" %}
{% load static %}
{% block content %}
<main class="personal">
    <div class="menu_person">
        <img src="{% static 'img/user.png'%}" alt="profile" class="profile_img">
        <div class="profile_name">{{request.user.first_name}} {{request.user.last_name}}</div>
        <nav>
            <a href="{% url 'main:mydocs'%}">Мои документы</a>
            <a href="{% url 'main:publicdocs'%}">Общие документы</a>
            <a href="{% url 'main:search'%}">Поиск документа</a>
            {%if request.user.is_staff%}
            <a href="{% url 'main:registration'%}">Новый сотрудник</a>
            {%endif%}
            <a href="{% url 'main:profile'%}">Личные данные</a>
            <a href="{% url 'main:changepass' pk=user.pk%}">Смена пароля</a>
            <a href="{% url 'main:logout'%}">Выход</a>
        </nav>
    </div>
    <section class="person_center">
        <h3 class="person_title">
            {%if object.is_staff%}
            <span>Администратор </span>
            {%else%}
            <span>Пользователь </span>
            {%endif%}
            {{object.last_name}} {{object.first_name}} {{object.midl_name}}
        </h3>
        <div class="profile_info">
            <div class="profile_info__item">
            </div>
            <div class="profile_info__item">
                <span>Фамилия</span>
                <div class="profile_info__link">{{object.last_name}}</div>
            </div>
            <div class="profile_info__item">
                <span>Имя</span>
                <div class="profile_info__link">{{object.first_name}}</div>
            </div>
            <div class="profile_info__item">
                <span>Отчество</span>
                <div class="profile_info__link">{{object.midl_name}}</div>
            </div>
            <div class="profile_info__item">
                <span>Эл. почта (Email)</span>
                <div class="profile_info__link">{{object.email}}</div>
            </div>
            <div class="profile_info__item">
                <span>Телефон</span>
                <div class="profile_info__link">{{object.phone}}</div>
            </div>
            <div class="profile_info__item">
                <span>Дата рождения</span>
                <div class="profile_info__link">{{object.dateBorn}}</div>
            </div>
            <div class="profile_info__item">
                <span>Должность</span>
                <div class="profile_info__link">{{object.job}}</div>
            </div>
        </div>
    </section>
</main>
{% endblock %}