{% extends "authbasic.html" %}
{% load static %}
{% block content %}
<div class="position_center">
    <img class="mainimg" src="{% static 'img/imgonline-com-ua-Replace-color-r5iK5mPNXCb2.jpg' %}"
         alt="mainimg">
    <form class="auth_main" method="POST">
       {% csrf_token %}
        <div class="login_title">Вход</div>
<!--                        {% if form.errors%}-->
<!--                        <div class="errors_all">Пожалуйста, введите правильные имя пользователя и пароль.-->
<!--                            Оба поля могут быть чувствительны к регистру.</div>-->
<!--                        {%endif%}-->
        <label for="login">
            <input type="text" class="auth_main__input auth_main__input--up" name="username"
                placeholder="Логин">
            {% if form.errors.username %}
            <div class="username_errors">{{form.errors.username}}</div>
            {%endif%}
        </label>
        <label for="password">
            <input type="password" class="auth_main__input auth_main__input--down" name="password"
                placeholder="Пароль">
            {% if form.errors.password %}
            <div class="username_errors">{{form.errors.password}}</div>
            {%endif%}
            <button></button>
        </label>
        <div class="form_udertext">Нет доступа?
            <span>Получите логин и пароль<br>у администратора вашей сети</span>
<!--<a href="{% url 'media:registration'%}">Зарегистрироваться</a>-->
        </div>

    </form>
    <div class="clear"></div>
</div>
{% endblock %}