{% extends "authbasic.html" %}
{% load static %}
{% block content %}
<div class="position_center">
    <img class="mainimg" src="{% static 'img/imgonline-com-ua-Replace-color-r5iK5mPNXCb2.jpg' %}" alt="mainimg">

    <form class="auth_main" method="POST">
        <div class="login_title">Изменение пароля</div>
        {% csrf_token %}
        <label for="login">
            <input type="text" placeholder="Ваш логин" id="login" class="fogot_main__input" name="username" required>
            {% if errors %}
            <div class="username_errors">{{errors}}</div>
            {%endif%}
        </label>
        <input type="submit" value="Отправить письмо" class="fogot_form_input">
        <div class="form_udertext_reg"><a href="{% url 'main:login'%}">Войти в аккаунт</a></div>
    </form>
    <div class="clear"></div>
</div>
{% endblock %}