* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}

html,
body,
main {
    min-height: 100vh;
}

.clear {
    clear: both;
}

.header {
    background-color: #1b1d24;
    height: 80px;
    width: 100%;
    padding: 15px 70px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.reg {
    background-color: #c69d5b;
    padding: 10px 15px;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.auth {
    padding: 8px 25px;
    color: #fff;
    border-radius: 20px;
    border: 2px solid #fff;
}

.header_top {
    text-decoration: none;
    display: block;
    height: 31px;
    margin-bottom: 10px;
}

.header_top img {
    float: left;
    margin-right: 15px;
    display: block;
    width: 50px;
}

.logo {
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

.header_top__text {
    float: left;
}

.logo_underText {
    color: #c69d5b;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.big_img {
    height: 100%;
    width: 100%;
    background: linear-gradient(230deg, rgba(198, 157, 91, 1) 30%, rgba(215, 191, 32, 1) 74%, rgba(255, 247, 0, 1) 100%);
    position: relative;
    animation: gradient 10s infinite linear;
    -webkit-animation: gradient 10s infinite linear;
    background-size: 300% 300%;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }

    50% {
        background-position: 20% 100%;
    }

    100% {
        background-position: 80% 0%;
    }
}

.big_img__title {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 205px;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
}

.big_img__text {
    font-weight: 300;
    font-size: 19px;
    color: #fff;
    width: 820px;
    margin: 15px auto;
    text-align: center;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
}

.main_buttom {
    background-color: #1b1d24;
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    bottom: 20px;
    padding: 20px 20px 0 20px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

.main_buttom_line {
    width: 100%;
    height: 20px;
    background-color: #1b1d24;
    position: absolute;
    bottom: 0;
    left: 0;

}

.main_bottom_choose {
    margin-bottom: 15px;
    color: #fff;
    font-weight: 300;
    font-size: 19px;
    display: flex;
    justify-content: center;
}

.main_bottom_choose__margin {
    margin-right: 35px;
}

.main_buttom_click {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #c69d5b;
    width: 166px;
    padding: 7px 20px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 19px;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
}

/* Кастомный чек-бокс */

.checkbox-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-wrapper label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    user-select: none;
}

.checkbox-wrapper span {
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #1b1d24;
    border-radius: 50%;
}

.reg_checkbox {
    margin-top: 15px;
}

.reg_form .checkbox-wrapper span {
    background-color: #e9e0d0;
}

.checkbox-wrapper label input:checked~span {
    background-color: #c69d5b;
}


.checkbox-wrapper span:after {
    content: "";
    position: absolute;
    display: none;
}


.checkbox-wrapper label input:checked~span:after {
    display: block;
}


.checkbox-wrapper label span:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}

/* Конец */

.center {
    width: 1400px;
    margin: 0 auto;
    padding: 50px 0;
}

.main_block2 {
    background-color: #1b1d24;
}

.main_block2__flex {
    display: flex;
}

.main_block2__img {
    width: 300px;
    margin-top: 40px;
}

.main_title {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    position: relative;
    margin-bottom: 30px;
}

.main_title:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 350px;
    height: 2px;
    background-color: #c69d5b;
}

.main_text {
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    text-align: left;
    width: 90%;
}

.main_block3 {
    background-color: #e9e0d0;
    color: #1b1d24;
}

.main_block3_title {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    position: relative;
}

.main_block3_title::after {
    content: "";
    width: 300px;
    height: 2px;
    background-color: #1b1d24;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -150px;
}

.how_left {
    display: left;
    margin-right: 20px;
}

.how_left__figure .dot {
    width: 10px;
    height: 10px;
    background-color: #1b1d24;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

.how_left__figure .line {
    width: 4px;
    height: 30px;
    background-color: #1b1d24;
    margin-left: 3px;
}

.main_block4 {
    background-color: #c69d5b;
    color: #1b1d24;
    position: relative;
}

.main_block4_title {
    text-align: right;
    font-weight: 700;
    font-size: 32px;
    position: relative;
}

.main_block4_title::after {
    content: "";
    width: 200px;
    height: 2px;
    background-color: #1b1d24;
    position: absolute;
    bottom: -5px;
    right: 0;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #1b1d24;
    padding: 15px 70px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

/* Привязка footer к низу страницы */
.wrapper {
    height: 100%;
}

.content {
    min-height: 100%;
    padding-bottom: 80px;
}

.content_login {
    position: relative;
    background-color: #e9e0d0;
    width: 1400px;
    margin: 0 auto;
    height: 100%;
}

.footer {
    margin-top: -80px;
    position: relative;
}

/* конец */

.footer_midl {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.footer_right {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    margin-top: 11px;
}

.rates {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.rates_item {
    width: 350px;
    height: 500px;
    color: #fff;
    background-color: #1b1d24;
    padding: 30px 20px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.rates_item:nth-child(2) {
    margin: 0 3px;
}

.rates_item:hover {
    margin: -25px 10px 0;
    border: 4px solid #fff;
    height: 525px;
    width: 400px;
    padding: 30px 40px;
    border-radius: 28px 28px 0 0;
    -webkit-border-radius: 28px 28px 0 0;
    -moz-border-radius: 28px 28px 0 0;
    -ms-border-radius: 28px 28px 0 0;
    -o-border-radius: 28px 28px 0 0;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(34, 60, 80, 1);
    -moz-box-shadow: 0px 1px 15px 0px rgba(34, 60, 80, 1);
    box-shadow: 0px 1px 15px 0px rgba(34, 60, 80, 1);
}

.rates_item h3 {
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.rates_item h3::after {
    content: "";
    width: 250px;
    height: 2px;
    background-color: #c69d5b;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -125px;
}

.rates_item h4 {
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    margin-bottom: 10px;
}

.rates_item p {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 20px;
}

.rates_item li {
    list-style-type: none;
    position: relative;
    padding-left: 30px;
    font-weight: 400;
    font-size: 20px;
}

.rates_item li:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #c69d5b;
    position: absolute;
    left: 10px;
    top: 9px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.rates_item__price {
    margin-top: 35px;
    color: #c69d5b;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}

/* Страница входа */

.mainimg {
    width: 388px;
    float: left;
}

.position_center {
    width: 718px;
    margin-top: 200px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -395px;
}

.auth_main {
    height: 315px;
    padding: 30px 40px;
    background-color: #1b1d24;
    color: #fff;
    float: left;
}

.login_title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    margin-bottom: 50px;
}

.login_title:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #c69d5b;
}

.auth_main label {
    display: block;
    position: relative;
}

.username_errors li {
    list-style-type: none;
}

.username_errors {
    position: absolute;
    top: 0;
    right: -200px;
    padding: 10px 15px;
    background-color: #c69d5b;
    color: #fff;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgb(47 47 47 / 50%);
}

.username_errors:after {
    content: '';
    position: absolute;
    left: -25px;
    top: 5px;
    border: 10px solid transparent;
    border-right: 16px solid #c69d5b;
}

.errors_all {
    width: 20px;
}

.auth_main__input {
    background-color: #c69d5b;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
}

.auth_main__input::placeholder {
    color: #fff;
    opacity: 1;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgb(47 47 47 / 50%);
}

.auth_main__input:-ms-input-placeholder {
    color: #fff;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgb(47 47 47 / 50%);
}

.auth_main__input::-ms-input-placeholder {
    color: #fff;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgb(47 47 47 / 50%);
}

.auth_main__input--up {
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}

.auth_main__input--down {
    border-top: 4px solid #1b1d24;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
}

.auth_main button {
    border: 8px solid #1b1d24;
    background: url(../img/play-button2.png) center center no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: -30px;
    right: -15px;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.auth_main button:hover {
    border-width: 4px;
}

.form_udertext {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.form_udertext span {
    color: #c69d5b;
    display: block;
}

/* Конец страницы входа*/

/* Страница регистрации*/

.regist_main {
    position: relative;
    background-color: #e9e0d0;
    width: 1400px;
    margin: 0 auto;
    height: 100%;
}

.center_registration {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.reg__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    color: #fff;
}

.reg__title:after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #c69d5b;
}

.reg_form {
    padding: 30px 40px;
    color: #c69d5b;
    background-color: #1b1d24;
}

.reg_form .input_long {
    width: calc(100% - 5px);
}

.reg_form input {
    margin-top: 10px;
    width: 200px;
    padding: 8px 15px;
    margin-right: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 17px;
    font-weight: 500;
    border: 2px solid #c69d5b;
    color: #fff;
    background-color: #c69d5b;
}

.reg_form input::placeholder {
    color: #fff;
    opacity: 1;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgb(47 47 47 / 50%);
}

.reg_form input:-ms-input-placeholder {
    color: #fff;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgb(47 47 47 / 50%);
}

.reg_form input::-ms-input-placeholder {
    color: #fff;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgb(47 47 47 / 50%);
}

.reg_form input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    width: 215px;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    background-color: #1b1d24;
    color: #c69d5b;
}

.reg_form input[type="submit"]:hover {
    background-color: #c69d5b;
    color: #fff;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
}

.reg_form .up {
    margin-top: -24px;
}

.reg_form .up span {
    font-size: 18px;
    font-weight: 400;
}

.input_left {
    display: flex;
}


.change_form_submit {
    color: #fff;
    padding: 10px 20px;
    background-color: #c69d5b;
    border: 0;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}

.change_form_submit:hover {
    background-color: #1b1d24;
}

.form_udertext_reg {
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}

.form_udertext_reg a {
    margin-top: 5px;
    color: #c69d5b;
    text-decoration: none;
    display: block;
}

.form_udertext_reg a:hover {
    text-decoration: underline;
}

/* Конец странницы регистрации*/

/* Восстановление пароля*/
.fogot_main__input {
    display: block;
    padding: 8px 15px;
    border: 2px solid #c69d5b;
    border-radius: 10px;
    background: inherit;
    width: 215px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    color: #c69d5b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.fogot_form_input {
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    width: 215px;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    background-color: #1b1d24;
    color: #c69d5b;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid #c69d5b;
}

.fogot_form_input:hover {
    background-color: #c69d5b;
    color: #fff;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
}

.password_success {
    padding: 50px 100px;
}

.password_success .title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.password_success .title:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 40%;
    height: 2px;
    background-color: #1b1d24;
}

.password_success .new_pass {
    font-weight: 500;
    font-size: 23px;
}

.password_success .new_pass span {
    font-weight: 600;
    font-style: italic;
    color: #c69d5b;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.password_success .new_pass span:hover {
    font-size: 25px;
}

.password_success .help_pass {
    margin-top: 5px;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
}

.password_success__submit {
    padding: 8px 15px;
    color: #1b1d24;
    background-color: #c69d5b;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: block;
    width: 191px;
    margin-top: 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.password_success__submit:hover {
    margin-top: 30px;
}

/*Конец*/

/* Страница личного кабинета*/

.personal {
    position: relative;
    background-color: #e9e0d0;
    width: 1400px;
    margin: 0 auto;
}

.menu_person {
    position: fixed;
    left: 60;
    top: 0;
    height: 100%;
    width: 280px;
    background-color: #1b1d24;
    padding-top: 60px;
}

.menu_person nav {
    padding-left: 40px;
}

.menu_person a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #c69d5b;
    display: block;
    margin-bottom: 5px;
    padding: 10px 30px;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    border-right: 10px solid #1b1d24;
}

.menu_person .menu--active,
.menu_person a:hover {
    background-color: #e9e0d0;
    color: #1b1d24;
    border: 0;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    padding: 13px 33px;
    margin-left: 0;
}

.profile_img {
    width: 64px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: block;
}

.profile_name {
    font-size: 21px;
    font-weight: 500;
    color: #c69d5b;
    text-align: center;
    margin-bottom: 40px;
    cursor: default;
}

.person_center {
    padding: 60px 75px 60px 355px;
}

.person_title {
    text-align: right;
    font-size: 30px;
    font-weight: 600;
    color: #1b1d24;
    margin-bottom: 60px;
}

.person_form {
    width: 600px;
    font-size: 19px;
    font-weight: 500;
}

.label_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.person_input {
    display: block;
    width: 350px;
    background-color: inherit;
    padding: 6px 20px;
    border-radius: 10px;
    font-size: 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #1b1d24;
    color: #c69d5b;
    border: 4px solid #1b1d24;
}

.person_input:focus {
    border: 4px solid #c69d5b;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.25);
}

.profile_info {
    width: 500px;
    font-size: 19px;
    font-weight: 500;
}

.profile_info__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.profile_info__link {
    width: 235px;
    background-color: inherit;
    padding: 6px 20px;
    border-radius: 10px;
    font-size: 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 3px solid #1b1d24;
    height: 40px;
    line-height: 25px;
}

.profile_info__submit {
    color: #fff;
    padding: 8px 20px;
    background-color: #c69d5b;
    border: 0;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgb(47 47 47 / 50%);
    border: 3px solid #c69d5b;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    width: 127px;
    text-decoration: none;
}

.profile_info__submit:hover {
    background-color: #1b1d24;
    border: 3px solid #c69d5b;
    -webkit-box-shadow: 0px 0px 5px 3px rgb(34 60 80 / 25%);
    -moz-box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 0px 5px 3px rgb(34 60 80 / 25%);
}


/* Конец страницы личного кабинета*/

/*Страница мои документы*/
table {
    border-spacing: 0;
}

thead .cell {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    background-color: #c69d5b;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgb(47 47 47 / 50%);
}

thead .cell:nth-child(1) {
    border-left: 0;
    border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    -ms-border-radius: 10px 0 0 0;
    -o-border-radius: 10px 0 0 0;
}

thead .cell:nth-last-child(1) {
    border-right: 0;
    border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    -ms-border-radius: 0 10px 0 0;
    -o-border-radius: 0 10px 0 0;
}

.cell {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    color: #1b1d24;
    border-bottom: 3px solid #1b1d24;
    border-right: 3px solid #1b1d24;
    width: 200px;
    text-align: center;
}

.cell:nth-child(1) {
    width: 250px;
    border-left: 3px solid #1b1d24;
}

.cell:nth-child(2) {
    width: 100px;
}

.cell:nth-child(3):not(.cell_mydocs) {
    width: 250px;
    padding: 5px 5px;
}

.cell_mydocs {
    width: 450px;
}

.comments_mydocs .tbody .cell:nth-last-child(1) {
    display: flex;
    justify-content: space-between;
}

.cell:nth-last-child(1) {
    width: 135px;
    border-right: 0;
    padding: 5px 10px;
    border-right: 3px solid #1b1d24;
}

.comments {
    padding: 10px 20px;
    max-height: 99px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;
}

.cell a,
.cell_userA {
    text-decoration: none;
    color: #1b1d24;
}

.cell .cell_userA:hover {
    text-decoration: underline;
    color: #c69d5b;
}

.comments::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.comments::-webkit-scrollbar-thumb {
    background-color: #c69d5b;
    border-radius: 10px;
}

.comments::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

.icons_download {
    background: url(../img/download.png) center center no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    cursor: pointer;
    margin-right: 10px;
}

.icons_download:hover {
    background: url(../img/download_orange.png) center center no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.icons_edit {
    background: url(../img/edit.png) center center no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-right: 10px;
    display: inline-block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.icons_edit:hover {
    background: url(../img/edit_orange.png) center center no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.icons_delete {
    background: url(../img/delete.png) center center no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    display: inline-block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.icons_delete:hover {
    background: url(../img/delete_orange.png) center center no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.icons_mail {
    background: url(../img/mail.png) center center no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 27px;
    height: 25px;
    margin-top: 10px;
    display: inline-block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.icons_mail:hover {
    background: url(../img/mail_orange.png) center center no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 27px;
    height: 25px;
}

.button_add_docs {
    text-align: center;
    display: block;
    text-decoration: none;
    background-color: #1b1d24;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 15px;
    width: 246px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    -moz-text-shadow: 3px 1px 7px rgba(47, 47, 47, 0.5);
    text-shadow: 3px 1px 7px rgb(47 47 47 / 50%);
}

.button_add_docs:hover {
    background-color: #c69d5b;
}

.person_form textarea {
    width: 350px;
    background-color: #1b1d24;
    color: #c69d5b;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    resize: vertical;
    height: 100px;
}

.person_form textarea:focus {
    border: 4px solid #c69d5b;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.25);
}

.inputFile {
    margin-top: 18px;
    width: 348px;
    height: 64px;
    border: 1.75px solid #1b1d24;
    background-color: #1b1d24;
    border-radius: 5px;
}

.inputFile div {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #c69d5b;
    margin-top: 17px;
}

.inputFile input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    top: -41px;
    cursor: pointer;
}

.errors_file {
    text-align: center;
    width: 348px;
    padding: 10px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text_empty {
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}

.del_text {
    font-weight: 500;
    font-size: 23px;
    margin-top: 20px;
}

.change_form_submit-nonmargin {
    margin: 0;
    margin-top: 15px;
    display: inline;
}

.delete_href {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #1b1d24;
    border: 2px solid #1b1d24;
    padding: 7px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.delete_href:hover {
    background-color: #1b1d24;
    color: #fff;
}

.filter_wrapper {
    display: flex;
    justify-content: space-between;
}

.filter {
    display: flex;
}

.filter a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    background-color: #c69d5b;
    padding: 8px 20px;
    display: block;
    height: 43px;
    opacity: 0.7;
    border-top: 2px solid #c69d5b;
}

.filter .filter--active {
    opacity: 1;
    border: 2px solid #1b1d24;
    border-left: 0;
    border-right: 0;
}

.filter .filter--active:nth-last-child(1) {
    border-right: 2px solid #1b1d24;
}

.filter .filter--active:nth-child(1) {
    border-left: 2px solid #1b1d24;
}

.filter a:hover {
    text-decoration: underline;
    border: 2px solid #1b1d24;
    border-left: 0;
    border-right: 0;
    opacity: 1;
}

.filter_wrapper .empty {
    margin-bottom: 60px;
}

/*Конец*/

/*Поиск*/
.search_form {
    display: flex;
    margin: 0 auto;
    width: 470px;
    margin-bottom: 40px;
}

.search_key {
    background-color: #1b1d24;
    padding: 10px 20px;
    color: #c69d5b;
    font-size: 18px;
    font-weight: 400;
    border: 5px solid #c69d5b;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    border-right: 0;
    width: 375px;
    display: block;
}

.search_butt {
    background-color: #c69d5b;
    margin-left: -3px;
    color: #fff;
    border: 5px solid #c69d5b;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 20px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.search_butt:hover {
    color: #c69d5b;
    background-color: #1b1d24;
}

/*Конец*/

/* Пагинация */

.pagination {
    margin-top: 30px;
    text-align: center;
}

.step_links {
    display: flex;
    justify-content: center;
}

.step_links a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 500;
    color: #1b1d24;
    border: 2px solid #1b1d24;
    padding: 1px 10px;
    display: block;
    border-right: 0;
}

.step_links a:nth-last-child(1) {
    border-right: 2px solid #1b1d24;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}

.step_links a:nth-child(1) {
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}

.current {
    background-color: #c69d5b;
    color: #fff;
    border: 2px solid #1b1d24;
    text-decoration: none;
    font-size: 23px;
    font-weight: 500;
    padding: 1px 10px;
    display: block;
}

.step_links a:hover:not(.current) {
    background-color: #deceb3;
}

/*Конец*/

/*Отправка почтой*/

.email_text {
    font-size: 25px;
    color: #1b1d24;
    font-weight: 500;
    margin-bottom: 30px;
}

.email_text span {
    font-style: italic;
    font-weight: 400;
}

/*Конец*/